
# ignore node
node_modules/**
.idea/**

**/__pycache__/**

# ignore test
fb/**
fbtest/**
test/**
appletest/**

#ignore logs
*.log

#ignore all out files
*.out

get_domain_name.py

history_scan.py

logging.csv